body{
    background-color: #f7f7f7;
    margin: 50px;
}
#modal {
    padding: 50px;
    background-color:white;
    border-radius: 4px;
    box-shadow: 0 1px 1px black;
    max-width: 400px;
    margin: auto;
    min-height: 220px;
    opacity: 0;
}
#modal h1 {
    font-family: sans-serif;
    margin: 0px 0px 20px;
    text-align: center;
}   
#modal label {
    display:block;
    font-family: sans-serif;
    margin-bottom: 5px;
    margin-top: 10px;
}
#modal input {
    width:100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1.rem;
    background-color: #f7f7f7; 
}
#modal button {
    margin-top: 30px;
    display: block;
    font-family: sans-serif;
    font-size: 1rem;
    padding: .6rem 2rem;
    width: 9rem;
    background-color: #ffb801;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    color: #402d00;
    
   
  }

  #modal a {
    margin-top: 30px;
    display: block;
    font-family: sans-serif;
    font-size: 1rem;
    padding: .6rem 0rem;
    width: 9rem;
    background-color: #ffb801;
    border-radius: 3px;
    border: none;
    text-decoration: none;
    color: #402d00;
    text-align: center;
    
   
  }

button:hover{
    filter: brightness(.8);
    
}
#logar{
   font-size: 50px;
   color: #ffb801;
}
#modal.animar {
    animation-name: slide;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes slide {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
